@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.footer {
  @apply md:ps-[170px] lg:ps-[280px] sm:ps-[100px] ps-[25px] sm:pe-[70px] pe-[15px] md:pe-[145px] lg:pe-[220px] sm:pt-28 pt-10 pb-9  bg-footer;
}
.footer-main {
  @apply grid md:grid-cols-[1fr_1fr_1fr_1fr] text-[12px] sm:text-[14px] md:grid-rows-[auto] grid-rows-[1fr_1fr] grid-cols-[1fr_1fr] sm:gap-x-[90px] md:gap-x-[126px] gap-x-[23px] gap-y-[15px] sm:gap-y-[60px];
}
.desktop-header-first-section {
  @apply grid px-7 py-3 md:grid-cols-[auto_auto] md:gap-9 gap-y-2 gap-x-3 md:grid-rows-[auto] grid-cols-[auto] grid-rows-[auto_auto];
}
.filter-sections {
  @apply p-4 flex flex-col gap-4;
}

.store-name {
  background: rgb(108, 177, 197);
  background: linear-gradient(
    90deg,
    rgba(108, 177, 197, 1) 19%,
    rgba(44, 88, 211, 1) 70%
  );
  background-clip: text;
  color: transparent;
  --webkit-text-stroke: 5px transparent;
}
.spinner {
  --size: 30px;
  --first: #005bba;
  --second: #fed500;
  width: 100px;
  height: 100px;
  position: relative;
  animation: spin 3s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  width: var(--size);
  height: var(--size);
  border: 4px solid var(--first);
  border-top: 4px solid var(--second);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinRing 1.5s ease-out infinite;
  box-shadow: 0 0 10px var(--first);
}

.spinner::before {
  filter: blur(10px);
}

@keyframes spinRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
ul.categoryList li {
  text-align: center;
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
p {
  margin-bottom: 0;
}
.cardZoom {
  /* transform: scale(0);
   */
  display: block;
}
.flashSalesCard:hover .cardZoom {
  animation: zoomOut 0.4s forwards;
}
.flashSalesCard:not(:hover) .cardZoom {
  animation: zoomIn 0.4s forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.flashSalesSection {
  display: grid;
}

.flashSalesSection::-webkit-scrollbar-track {
  opacity: 0.3;
  background-color: #f5f5f5;
}
.flashSalesSection::-webkit-scrollbar-thumb {
  background-color: #a5a4a4;
}
.flashSalesSection::-webkit-scrollbar {
  height: 0px;

  transition: height 5s;
}
@media screen and (max-width: 640px) {
  .flashSalesSection:hover::-webkit-scrollbar {
    height: 4px;
  }
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(108, 177, 197);
  background: linear-gradient(
    90deg,
    rgba(108, 177, 197, 1) 19%,
    rgba(44, 88, 211, 1) 70%
  );
}

.autoCompleteDialog::-webkit-scrollbar-track {
  opacity: 0.3;
  background-color: #f5f5f5;
}
.autoCompleteDialog::-webkit-scrollbar-thumb {
  background-color: #a5a4a4;
}
.autoCompleteDialog::-webkit-scrollbar {
  /* height: 0px; */
  width: 8px;
  transition: height 5s;
}
